@media screen and (max-width: 1321px){
#textbox .textbox1 {
    margin-right: 61px;
}
}
@media screen and (max-width: 1300px){	#textbox .textbox1 {margin-right: 60px;}
										.content1 {margin-right: 15px}}
@media screen and (max-width: 1279px){#textbox .textbox1 {margin-right: 59px;}}
@media screen and (max-width: 1257px){#textbox .textbox1 {margin-right: 58px;}}
@media screen and (max-width: 1236px){#textbox .textbox1 {margin-right: 57px;}}
@media screen and (max-width: 1215px){#textbox .textbox1 {margin-right: 56px;}
										.content1 {margin-right: 14px}}
@media screen and (max-width: 1194px){#textbox .textbox1 {margin-right: 55px;}}
@media screen and (max-width: 1173px){#textbox .textbox1 {margin-right: 54px;}}
@media screen and (max-width: 1152px){#textbox .textbox1 {margin-right: 53px;}}
@media screen and (max-width: 1131px){#textbox .textbox1 {margin-right: 52px;}}
@media screen and (max-width: 1120px){.content1 {margin-right: 13px}}
@media screen and (max-width: 1110px){#textbox .textbox1 {margin-right: 51px;}}
@media screen and (max-width: 1089px){#textbox .textbox1 {margin-right: 50px;}}
@media screen and (max-width: 1068px){#textbox .textbox1 {margin-right: 49px;}}
@media screen and (max-width: 1047px){#textbox .textbox1 {margin-right: 48px;}}
@media screen and (max-width: 1040px){.content1 {margin-right: 12px}}
@media screen and (max-width: 1026px){#textbox .textbox1 {margin-right: 47px;}}
@media screen and (max-width: 1005px){#textbox .textbox1 {margin-right: 46px;}}
@media screen and (max-width: 984px){#textbox .textbox1 {margin-right: 45px;}}

@media screen and (max-width: 980px){

.content1 {
    width: 35%;
    margin-right: 130px;
}
.content2 {
    width: 35%;
}
#content{
	height: 661px;
}
.logocontact{
	display: none;
}
}
.contact2{
	width: 28%;
}
.contact1{
	width: 18%;
}