body{
	margin-top: 50px;
}
*{
	font-family: 'Montserrat', sans-serif;
}
header{
	height: 150px;
	width: 95%;
	margin-left: 30px;
}
#search{
	height: 30px;
	width: 100%;
}
#searchico{
	padding-top: 3px;
	float: right;
}
#textarea{
	padding-bottom: 7px;
	float: right;
	width: 220px;
}
#headerborder{
	height: 50px;
	width: 100%;
}
#headerborder1 .logo{
	float: left;
	width: 35px;
}
#headerborder1 .namelogo{
	float: left;
    font-weight: bold;
    font-size: 30px;
    color: #709DBE;
    padding-left: 7px;
    margin: 0px;
}

#menu{
	float: right;
	width: 700px;
}
#menu .home{
	float: left;
}
#ulmenu li{
	float: left;
	margin-left: 40px;
    list-style-type: none;
}
#ulmenu li a{
	text-decoration: none;
	color: #709DBE;
}
#ulmenu img{
	margin-top: -10px;
}
/*------Content------*/
#bordercontent{
	height: 860px;
	width: 95%;
	margin-left: 30px;
}
#borderContent1{
	height: 425px;
	color: #709DBE;
}
#leftBorderContent1{
	float: left;
	width: 41%;
	height: 100%
}
#rightBorderContent1{
	height: 100%;
	float: left;
	width: 59%;
}
#headerRightContent{
	border-bottom: solid 1px;
}
#text1HeaderRightContent{
	margin: 0;
	color: #709DBE;
	font-size: 35px;
	font-weight: bold;
}
#text2HeaderRightContent{
	margin: 5px 0 0 0;
	color: #709DBE;
}
#mainRightContent{
	height: 78%;
}
#leftMainRightContent{
	float: left;
	width: 65%;
	height: 100%;
}
#rightMainRightContent{
	float: left;
	width: 35%;
	height: 100%;
}
#learnMore{
	width: 67%;
    height: 92px;
    background: #DDE7EF;
}
#learnMore p{
	font-weight: bold;
	margin: 0;
	padding: 10px 0 22px 0;
}
#learnMore a{
	text-decoration: none;
	color: white;
	background: #78A3C2;
	padding: 10px;
	margin-left: 70px;
}
#quantity{
	width: 100px;
}
#rightMainRightContent a{
	text-decoration: none;
	color: white;
	background: #78A3C2;
	padding: 10px;
	margin-left: 45px;
}

#mainImg{
	width: 92%;
    height: 255px;
    background: #DDE7EF;
    margin-top: 15px;
}
#subImg{
	margin-top: 15px;
	width: 100%;
	height: 70px;
}
.subImg1{
	background: #DDE7EF;
    width: 21%;
    height: 70px;
    float: left;
    margin-right: 11px;
}

.headercontent1{
	font-size: 30px;
	font-weight: bold;
	color: #709DBE;
	margin: 0;
}
.content1{
	width: 23%;
	float: left;
	margin-right: 15px;
}
.img1{
	height: 170px;
	background: #DDE7EF;
}
.textcontent{
	float: left;
	width: 65%;
	height: 70px;
	margin-top: 10px;
	color: #709DBE;
}
.textcontent p{
	margin: 0px;
}
.moneycontent{
	float: right;
	width: 30%;
	height: 70px;
	margin-top: 10px;
	color: #709DBE;
	font-weight: bold;
	text-align: right;
}
.moneycontent p{
	margin: 0px;
}
.buttonbuy{
	float: left;
	margin: 10px 32% 0px 32%;
	width: 110px;
    height: 50px;
}
.buttonbuy a{
	width: 100px;
    height: 40px;
	text-align: center;
	background: red;
	text-decoration: none;
	color: white;
	background: #78A3C2;
	padding: 5px 10px 5px 10px;
}
/*------footer-------*/
footer{
	font-size: 13px;
	width: 100%;
	height: 250px;
	background: #DDE7EF;
	color: #709DBE;
	position: relative;
}
.logocontact{
	margin-left: 20px;
	width: 16%;
	float: left;
	margin-top: 15px;
}
.logocontact .logo{
	float: left;
	width: 30px;
}
.logocontact .namelogo{
	float: left;
    margin: 0px;
    font-size: 23px;
}
.contact1{
	width: 16%;
	float: left;
	margin-top: 15px;
}
.headercontact{
	font-weight: bold;
	font-size: 20px;
	margin: 0px;
}
.maincontact p{
	margin: 0px 15px 8px 0px;
}
.ulmaincontact{
	list-style-type: none;
	padding: 0px
}
.ulmaincontact li a{
	text-decoration: none;
	color: #709DBE;
}
.ulmaincontact li{
	margin-top: 6px;
}

#bordercontact2{
	width: 50%;
    height: 200px;
    float: left;
    margin-top: 15px;
}
.contact2{
	width: 40%;
	float: left;
	height: 100%;
	
}
#textareacontact{
	height: 20px;
    width: 55%;
}
.contact2 button{
	width: 42%;
    height: 30px;
    background: #78A3C2;
    color: white;
}
.logoSignUp{
	float: left;
	margin-right: 15px;
}
.logoSignUp img{
	width: 35px;
}
#borderPayment{
    background: #78A3C2;
    margin-top: 15px;
    width: 160px;
    height: 50px;
}
#borderPayment2{
    margin-top: 10px;
    width: 170px;
    height: 30px;
}
.buttonPayment{
	background: #78A3C2;
    float: left;
    width: 16%;
    height: 20px;
    margin-right: 6px;
}
#contact3{
	bottom: 0px;
    height: 35px;
    width: 100%;
    position: absolute;
}
#contact3 p{
    font-size: 11px;
    text-align: center;
    margin: 0px;
}