@media screen and (max-width: 859px){.textcontent p {font-size: 13px;}}
@media screen and (max-width: 1014px){#bordercontact2 {width: 49%;}}
@media screen and (max-width: 768px){
	footer{
		height: 200px;
	}
	#search{
		position: absolute;
		width: 89%;
		margin-top: 20px;
	}
	#textarea{
		width: 190px;
	}
	#menu{
		position: absolute;
	    margin-top: 100px;
	    margin-left: -73px;
	}
	#bordercontent{
		height: 1290px;
	}
	#content{
		height: 700px;
	}
	#bordercontent1_2{
		height: 625px;
	}
	.content1 {
    padding-left: 10%;
    width: 35%;
    margin-right: 0;
   	}
    .content2 {
    padding-left: 10%;
    width: 33%;
    margin-right: 0;
	}
	.buttonbuy {
    margin: 10px 27% 0px 27%;
    height: 30px;
	}
    .logocontact{
    	display: none;
    }
    .contact1{
    	display: none;
    }
    #bordercontact2{
    	width: 60%;
    	float: right;
    }
    #getOurNewsletter{
		margin-left: -36%;
	    position: absolute;
	    margin-top: -42px;
    }
    #getOurNewsletter p{
    	margin: 2px 0 16px 0px;
	    font-weight: bold;
	    font-size: 20px;
    }
    .headercontact{
    	margin: 0 0 16px 0;
    }
    .contact2{
    	width: 50%;
    }
}











