p{
	text-indent:30px;
}
#header{
	height: 280px;
	margin-left: 10px;
}
#education{
	margin-left: 10px;
}
#experience{
	margin-left: 10px;
}
#skill{
	margin-left: 10px;
}
#header .avatar{
	float: left;
}
#header .contentheader{
	float: left;
	margin-top: -14px;
}
h1 input{
	font-size: 30px;
}
#skill  ul li{
	margin-bottom: 3px; 
}
#border{
	width: 760px;
	height: 800px;
	border: 3px solid black;
}
textarea{
	width: 600px;
}
@media screen and (max-width: 200px){

}